<h1>WELCOME PAGE ALPHA RELEASE 2a6bf34dc6ab</h1>
<p><i>ehehehehehehehhhhehhhheh *hack* eheheh.</i></p>
<%= link_to 'My Blog', controller: 'articles' %>
<textarea name="input_text" id="input_text"></textarea>
<button type="button" onclick="musicify()">Musicify!</button>
