<h1>Words into music</h1>
<p><i>put in words, get music out.</i></p>
<%= link_to 'My Blog', controller: 'articles' %>
<textarea name="input_text" id="input_text"></textarea>
<button type="button" onclick="musicify()">Musicify!</button>
